{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </head>
  <body>
    <div class="container col-md-2 offset-md-5 mt-5">
      <h2>Log In</h2>
      <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">Log In</button>
      </form>
    </div>
  </body>
</html>
