{% extends "base.html" %}

{% block title %}
  <title>Delete Event {{object}}</title>
{% endblock title %}

{% block content %}
<div class="col-md-4 offset-md-4 container-fluid mt-5">
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title">Are you sure you want to delete "{{ object }}"?</h5>
            <form method="post">{% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-danger" value="Confirm">
        </div>
        </div>
</form>
</div>
{% endblock content %}